<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerlink="/" routerLinkActive="active"
      >ChitChat</a
    >

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      @if (accountService.currentUser()) {
      <li class="nav-item">
        <a class="nav-link" routerLink="/members" routerLinkActive="active"
          >Matches</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lists" routerLinkActive="active"
          >Lists</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/messages" routerLinkActive="active"
          >Messages</a
        >
      </li>
      }
    </ul>
    @if (accountService.currentUser()) {
    <div>{{ accountService.currentUser()?.Username }}</div>
    <div dropdown class="dropdown">
      <a dropdownToggle class="dropdown-toggle text-light text-decoration-none"
        >Welcome {{ accountService.currentUser()?.Username | titlecase }}</a
      >
      <div *bsDropdownMenu class="dropdown-menu">
        <a class="dropdown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    } @if (!accountService.currentUser()) {
    <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex">
      <input
        class="form-control me-2"
        name="username"
        [(ngModel)]="model.username"
        placeholder="Username"
      />
      <input
        class="form-control me-2"
        type="password"
        name="password"
        [(ngModel)]="model.password"
        placeholder="Password"
      />
      <button class="btn btn-success" type="submit">Login</button>
    </form>
    }
  </div>
</nav>
